include ../mixins/main

- bodyClass = ""

block variables

doctype html

//[if lt IE 9]><html lang="fr" class="oldie no-js"><![endif]
//[if (gt IE 9)|!(IE)]><!
html.not-ie.no-js(lang="fr")
  //<![endif]
  head(lang="fr")
    script (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)

    title B2s Campus
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel='stylesheet', href='styles/main.css')
    link(rel='apple-touch-icon', href='assets/images/favicons/apple-touch-icon.png')

  body(class=bodyClass,
        ng-class="{'modalOpen': modal, 'frozen': App.frozen}"
        ng-app="campus.app",
        ng-controller="AppController as App")

    block layoutContent

    include ../includes/scripts
