mixin form-underlined(label, ngIf)
  - var klass = label ? "labelled" : ""
  label.form-underlined(class=klass, ng-if=ngIf)
    block
    span.form-underlined-bar
    if label
      span.form-underlined-label= label

mixin datePicker(opt)
  input.datepicker(type="text"
    datepicker-popup="dd/MM/yyyy"
    class=opt.klass
    ng-model=opt.ngModel
    is-open=opt.isOpen
    max-date=opt.maxDate
    min-date=opt.minDate
    ng-required=opt.required
    ng-change="closeDatepicker('" + opt.name + "')"
    ng-focus="openDatepicker('" + opt.name + "')"
    ng-click="openDatepicker('" + opt.name + "')"
    ng-class=opt.ngModel + " | emptyInputClassFilter")

mixin select(opt)
  select(name=opt.name,
    ng-model=opt.ngModel,
    ng-required=opt.ngRequired,
    required=opt.required,
    ng-change=opt.ngChange,
    ng-disabled=opt.ngDisabled,
    ng-options=opt.ngOptions,
    ng-class=opt.ngModel + " | emptyInputClassFilter")
    block

mixin input(opt)
  - opt.type = opt.type || "text"
  input(type=opt.type,
    name=opt.name,
    min=opt.min,
    max=opt.max,
    ng-model=opt.ngModel,
    ng-required=opt.ngRequired,
    required=opt.required,
    ng-change=opt.ngChange,
    ng-disabled=opt.ngDisabled,
    ng-class=opt.ngModel + " | emptyInputClassFilter")

mixin custom-checkbox(opt)
    label.checkbox
        input(type="checkbox",
            name=opt.name,
            ng-model=opt.ngModel,
            ng-required=opt.ngRequired,
            required=opt.required,
            ng-change=opt.ngChange,
            ng-disabled=opt.ngDisabled,
            value= opt.value,
            ng-class=opt.ngModel + " | emptyInputClassFilter")
        span.checkbox-placeholder
        span.checkbox-label= opt.label