h2.module-title Liste des actions de formation
.module-card
  .module-header(affix, affix-offset=48)
    .affix-target
      .pull-right
        button.btn.modal-opener(type="button",
          ng-click="App.showModal('accompagnement-creation')") Créer une action

      .searchBox
        +form-underlined()
          input.search-input(type="search",
            ng-model="search",
            ng-change="filter($event)"
            required,
            placeholder="rechercher")
        button(type="button").btnIcon.search
  
  .table.listed(affix, affix-offset=100)
    .table-head.affix-target
      .table-cell.inline.actions.w-90
          button.btnIcon.modify(type="button",
            title="Modifier")
          //- Empêcher la suppression si archives existantes ou sessions ouvertes
          button.btnIcon.delete(type="button",
            title="Supprimer")
          //- Empêcher l'archivage si sessions ouvertes
          button.btnIcon.archive(type="button",
            title="Archiver")
      .table-cell.col-1
        | Intitulé
      .table-cell.w-90
        | Nb Sessions
      .table-cell.w-100
        | Auteur
      .table-cell.w-90
        | Nature
      .table-cell.w-70
        | N° Action
    ul.table-group
      li.table-row(ng-repeat="action in actions")
        .table-cell.inline.actions.w-90
          button.btnIcon.modify(type="button",
            title="Modifier")
          //- Empêcher la suppression si archives existantes ou sessions ouvertes
          button.btnIcon.delete(type="button",
            title="Supprimer")
          //- Empêcher l'archivage si sessions ouvertes
          button.btnIcon.archive(type="button",
            title="Archiver")
        .table-cell.col-1 {{action.titre}}
        .table-cell.w-90
        .table-cell.w-100 {{action.auteur}}
        .table-cell.w-90
        .table-cell.w-70 {{action.action}}

                    
                
                