include ../mixins/main
.costCif

  .costCif-header
    .costCif-year
      button(type="button",
          ng-click="show(key)",
          ng-repeat="(key, year) in entries",
          ng-class="{ 'active': currentYear === key }") {{key}}
    .table.listed(affix, affix-offset=117)
      .table-head.affix-target
        .table-cell.month Mois de formation
        .table-cell.hours Heures de présence
        .table-cell.amountCompany Salaire brut B2S
        .table-cell.amountFongecif Montant Fongecif
        .table-cell.date Date de paiement

  .costCif-container(ng-repeat="(key, year) in entries",
    ng-show="currentYear === key")
    .table.listed
       .table-group
        ul.table-row(ng-repeat="entry in year track by $index")
          .table-cell.month{{entry.month}}
          .table-cell.hours
            label
              - var opt = {}
              - opt.type = "number"
              - opt.min = 0
              - opt.ngModel = "entry.model.heures"
              +input(opt)
              span h

          .table-cell.amountCompany
            label
              - opt = {}
              - opt.type = "number"
              - opt.min = 0
              - opt.ngModel = "entry.model.employeur"
              +input(opt)
              span €

          .table-cell.amountFongecif
            label
              - opt = {}
              - opt.type = "number"
              - opt.min = 0
              - opt.ngModel = "entry.model.fongecif"
              +input(opt)
              span €

          .table-cell.date
            input.datepicker.right.bottom(type="text"
              datepicker-popup="dd/MM/yyyy"
              ng-model="entry.model.datePaiement"
              is-open="state.openDatepickers['datePaiement' + $index]"
              ng-change="closeDatepicker('datePaiement' +$index)"
              ng-focus="openDatepicker('datePaiement' +$index)"
              ng-click="openDatepicker('datePaiement' +$index)"
              ng-class="entry.model.datePaiement | emptyInputClassFilter")
