include ../mixins/main

include ../mixins/main

.module-card
  .module-header(affix, affix-offset=48)
    .affix-target
      .searchBox
        +form-underlined()
          input.search-input(type="search",
            ng-model="table.filters.search",
            required,
            placeholder="rechercher")
        button(type="button").btnIcon.search

      .pull-right
        button.btn.modal-opener(type="button",
          ng-click="App.showModal('formation-creation')") Créer une action

        filters(filters="table.filters.filters",
          settings="filtersSettings")

  div(affix, affix-offset=96)
    .table.listed(table="table.config",
      table-filters="table.filters")

//-
  include ../includes/modules/module-filter-tools
  include ../includes/modules/module-listing-action
  include ../includes/modules/module-listing-session-employeur
  include ../includes/modules/module-listing-session-cpf
  include ../includes/modules/module-listing-session-cif

//-
    include ../includes/modules/module-listing-session-employeur
    include ../includes/modules/module-listing-session-cpf
    include ../includes/modules/module-listing-session-cif
    include ../includes/modules/modal-action-creation
    include ../includes/modules/modal-session-employeur-creation
    include ../includes/modules/modal-session-cpf-creation
    include ../includes/modules/modal-session-cif-creation

