include ../mixins/main

h2.module-title Création d'un accompagnement

form(name="formations",
  data-target="formations",
  form,
  ng-submit="submit($event)")

  input(type="hidden",
        name="dispositif",
        value="accompagnement")

  .grid.pad

    .col-1
      .module-card
        .module-header
          h3 Informations

        .grid.pad

          .col-1
            +form-underlined("Intitulé")
              - opt = {}
              - opt.required = true
              - opt.ngModel = "model.intitule"
              +input(opt)

          .col-1
            +form-underlined("Entités")
              - opt = {}
              - opt.required = true
              - opt.ngModel = "model.entites"
              - opt.ngOptions = "entites for entites in opts.entites"
              +select(opt)

          .col-1
            +form-underlined("Client")
              - opt = {}
              - opt.ngModel = "model.client"
              +input(opt)

          .col-1
            +form-underlined("Activité")
              - opt = {}
              - opt.ngModel = "model.activite"
              +input(opt)

          .col-1
            +form-underlined("Produit")
              - opt = {}
              - opt.ngModel = "model.produit"
              +input(opt)
          
          .col-1
            +form-underlined("Type")
              - opt = {}
              - opt.ngModel = "model.type"
              +select(opt)

          .col-1
            +form-underlined("Durée (heures)")
              - opt = {}
              - opt.ngModel = "model.duree"
              - opt.type = "number"
              - opt.min = "0"
              - opt.required = true
              +input(opt)

          .col-1-2
            +form-underlined("Date de début")
              - var opt = {}
              - opt.ngModel = "model.dateDebut"
              - opt.isOpen = "state.openDatepickers.dateDebut"
              - opt.maxDate = "model.dateFin"
              - opt.required = "true"
              - opt.name = "dateDebut"
              +datePicker(opt)

          .col-1-2
            +form-underlined("Date de fin")
              - var opt = {}
              - opt.ngModel = "model.dateFin"
              - opt.isOpen = "state.openDatepickers.dateFin"
              - opt.minDate = "model.dateDebut"
              - opt.required = "true"
              - opt.name = "dateFin"
              +datePicker(opt)

    .col-1-2
      .module-card
        .module-header
          h2 Participants
        user-list(users="model.participants.stagiaires",
                  displayed-users="participantsDetails.stagiaires")

    .col-1-2
      .module-card
        .module-header
          h2 Formateurs
        user-list(users="model.participants.formateurs",
                  displayed-users="participantsDetails.formateurs")

    .col-1
      include ../includes/modules/module-submit
