include ../mixins/main

mixin formation-list(label, model, ngIf)
  li(ng-if=ngIf || model)
    span.actionDetails-label= label
    span.actionDetails-value= '{{' + model + '}}'

.grid.pad

  .col-1
    .module-card

      .actionDetails

        .module-header(affix, affix-offset=48)
          .affix-target
            p.actionDetails-id \#{{formation.action}} - {{formation.auteur}}
            h2 {{formation.intitule}}
            a(ng-href="#/formations/{{formation.id}}/modifier"
              ng-if="!formation.archive").module-header-action.btnIcon.circle.big.modify
            button(ng-if="formation.archive",
              ng-click="unarchive()").module-header-action.btnIcon.circle.big.desarchiver

        ul.actionDetails-list
          +formation-list("Type", "formation.type")
          +formation-list("Client", "formation.client")
          +formation-list("Durée", "formation.duree")
          +formation-list("Activité", "formation.activite")
          +formation-list("Produit", "formation.produit")
          +formation-list("Date de début", "formation.from")
          +formation-list("Date de fin", "formation.to")
          +formation-list("Organisme", "formation.nomOrganisme", "formation.organisme && formation.nomOrganisme")
          +formation-list("Population", "formation.population")
          +formation-list("Objectif", "formation.objectif")
          +formation-list("Contenu", "formation.contenu")
          +formation-list("Prérequis", "formation.prerequis")

  .col-1(ng-if="hasSessions")
    .module-card
      .module-header
        filters(filters="table.filters.filters",
          settings="filtersSettings")
        h2 Sessions

      div(affix, affix-offset=96)
        .table.listed(table="table.config",
          table-filters="table.filters")

  .col-1-2(ng-if="hasUsers")
    .module-card
      .module-header
        h2 Stagiaires

      user-list(users="participants.stagiaires", frozen="formation.archive")

  .col-1-2(ng-if="hasUsers")
    .module-card
      .module-header
        h2 Formateurs

      user-list(users="participants.formateurs", frozen="formation.archive")

  .col-1(ng-if="showCost")
    .module-card
      .module-header
        h2 Coût de l'accompagnement
      .grid
        .col-1-2(ng-if="formation.cout")
          .accompagnement-cout
            span.accompagnement-cout-label Coût salarial
            span.accompagnement-cout-number {{formation.cout.salarial}}€
        .col-1-2(ng-if="formation.cout")
          .accompagnement-cout
            span.accompagnement-cout-label Coût pédagogique
            span.accompagnement-cout-number {{formation.cout.pedagogique}}€
