include ../mixins/main

.grid.pad

  .col-1
    .module-card

      .details

        .module-header(affix, affix-offset=48)
          .affix-target
            p.details-id \#{{formation.action}} - {{formation.auteur}}
            h2 {{formation.intitule}}
            a(ng-href="#/formations/{{formation.id}}/creation-session",
              ng-if="!formation.archive").module-header-action.btnIcon.circle.big.add
            button(ng-if="formation.archive",
              ng-click="unarchive()").module-header-action.btnIcon.circle.big.desarchiver

        ul.details-list
          +details-list("Dispositif", "formation.type")
          +details-list("Client", "formation.client")
          +details-list("Durée", "formation.duree")
          +details-list("Activité", "formation.activite")
          +details-list("Produit", "formation.produit")
          +details-list("Date de début", "formation.from")
          +details-list("Date de fin", "formation.to")
          +details-list("Organisme", "formation.nomOrganisme", "formation.organisme && formation.nomOrganisme")
          +details-list("Population", "formation.population")
          +details-list("Objectif", "formation.objectif")
          +details-list("Contenu", "formation.contenu")
          +details-list("Prérequis", "formation.prerequis")

        .module-cta
          a.btn(ng-href="#/formations/{{formation.id}}/modifier"
            ng-if="!formation.archive") modifier

  .col-1(ng-if="hasSessions")
    .module-card
      .module-header
        filters(filters="table.filters.filters",
          settings="filtersSettings")
        h2 Sessions

      div(affix, affix-offset=96)
        .table.listed(table="table.config",
          table-filters="table.filters")

  .col-1-2(ng-if="hasUsers")
    .module-card
      .module-header
        h2 Stagiaires

      user-list(users="participants.stagiaires", frozen="formation.archive")

  .col-1-2(ng-if="hasUsers")
    .module-card
      .module-header
        h2 Formateurs

      user-list(users="participants.formateurs", frozen="formation.archive")

  .col-1(ng-if="showCost")
    .module-card
      .module-header
        h2 Coût de l'accompagnement
      .grid
        .col-1-2(ng-if="formation.cout")
          .accompagnement-cout
            span.accompagnement-cout-label Coût salarial
            span.accompagnement-cout-number {{formation.cout.salarial}}€
        .col-1-2(ng-if="formation.cout")
          .accompagnement-cout
            span.accompagnement-cout-label Coût pédagogique
            span.accompagnement-cout-number {{formation.cout.pedagogique}}€
