include ../mixins/main

h2.module-title Votre profil

.module-card

    .module-header
      h2 {{user.prenom}} {{user.nom}}

    form(name="profilPasswordModification",
      ng-submit="submit($event)",
      ng-show="initialized")

      button.btn(type="button",
                 ng-show="!modifyingPassword",
                 ng-click="modifyPassword()")
        | Modifier mon mot de passe

      div(ng-if="modifyingPassword")

        .grid.pad

          .col-1
            +form-underlined("Votre mot de passe actuel")
              - opt = {}
              - opt.type = "password"
              - opt.ngModel = "model.password"
              - opt.required = true
              +input(opt)

          .col-1
            +form-underlined("Votre nouveau mot de passe")
              - opt = {}
              - opt.type = "password"
              - opt.ngModel = "model.newPassword"
              - opt.required = true
              +input(opt)

          .col-1
            +form-underlined("Confirmez votre nouveau mot de passe")
              - opt = {}
              - opt.type = "password"
              - opt.ngModel = "model.newPassword2"
              - opt.required = true
              +input(opt)


        .module-footer
          .form-actions
            button.btn(type="button",
                       ng-click="cancel()") Annuler
            button.btn(type="submit",
                       ng-disabled="!isValid") Valider
