include ../mixins/main

.grid.pad

  .col-1
    .module-card

      .details

        .module-header(affix, affix-offset=48)
          .affix-target
            p.details-id
              | \#{{session.session}} -&nbsp;
              a(ng-href="#/utilisateurs/{{session.auteurId}}") {{session.auteurNom}}
              | &nbsp; -&nbsp;Action #
              a(ng-href="#/formations/{{session.action}}") {{session.action}}
              | &nbsp; - {{session.dispositif}}
            h2 {{session.intitule}}
            a(ng-href="#/sessions/{{session.id}}/modifier"
              ng-if="!session.archive").module-header-action.btnIcon.circle.big.modify
            button(ng-if="session.archive",
              ng-click="unarchive()").module-header-action.btnIcon.circle.big.desarchiver

        h4.details-title Informations
        ul.details-list.grid.pad
          +details-item("Entité") {{session.entite}}

          +details-item("Référence") {{session.reference}}

          +details-item("Date de création") {{session.dateCreation}}

           +details-item("Nature") {{session.nature}}

        ul.details-list.grid.pad(ng-if="session.dispositif === 'employeur'")
          +details-item("Client", opt) {{session.client}}

          +details-item("Activité", opt) {{session.activite}}

          +details-item("Produit", opt) {{session.produit}}

        ul.details-list.grid.pad

          +details-item("Format") {{session.format}}

          +details-item("Organisme") {{session.organisme}}

          - opt = { ngIf: "session.organisme && session.nomOrganisme" }
          +details-item("Nom de l'organisme", opt) {{session.nomOrganisme}}

          +details-item("Devis") {{session.devis}}€

        h4.details-title Modalités de l'action de formation
        ul.details-list.grid.pad

          +details-item("Horaire souhaité") {{session.horaireSouhaite}}

          +details-item("Duree") {{session.duree}}h

          +details-item("Date de début") {{session.dateDebut}}

          +details-item("Date de fin") {{session.dateFin}}

        // CPF + CIF
        ul.details-list.grid.pad(ng-if="session.dispositif === 'CPF' || session.dispositif === 'CIF'")

          +details-item("Temps") {{session.temps}}

          +details-item("Date demande") {{session.dateDemande}}

          +details-item("Formation") {{session.validation}}

          +details-item("Préciser") {{session.validationComment}}

        ul.details-list.grid.pad(ng-if="session.dispositif === 'CIF'")

          +details-item("Date butoir") {{session.dateButoir}}

        // CPF + CIF
        div(ng-if="session.dispositif === 'CIF' || session.dispositif ==='CPF'")

          h4.details-title Acceptation de l'action de formation

          .grid.pad

            - optKlass = { klass: 'col-1' }

            div(ng-class="session.dispositif === 'CIF' ? 'col-1-2' : 'col-1'")

              ul.details-list.grid.pad

                +details-item("Avis employeur", optKlass) {{session.avisEmployeur}}

                +details-item("Date avis employeur", optKlass) {{session.dateAvisEmployeur}}

                - opt = { ngIf: "session.avisEmployeur === 'acceptee'" }
                - opt.klass = 'col-1'
                +details-item("Motif employeur", opt) {{session.motifEmployeur}}

             // CIF
            .col-1-2(ng-if="session.dispositif === 'CIF'")

              ul.details-list.grid.pad

                +details-item("Avis Fongecif", optKlass) {{session.avisFongecif}}

                +details-item("Date avis Fongecif", optKlass) {{session.dateAvisFongecif}}

                - opt = { ngIf: "session.avisFongecif === 'acceptee'" }
                - opt.klass = 'col-1'
                +details-item("Motif Fongecif", opt) {{session.motifFongecif}}

        // CIF
        div(ng-if="session.dispositif === 'CIF'")

          h4.details-title Modalités de prise en charge par le Fongecif

          ul.details-list.grid.pad

            +details-item("Salaire") {{session.priseChargeSalaire}}€

            +details-item("Repriste de poste") {{session.reprisePoste}}

            +details-item("Duree") {{session.dureePriseEnCharge}}h

  div(ng-if="hasUsers", ng-class="session.dispositif !== 'employeur' ? 'col-1' : 'col-1-2'")
    .module-card
      .module-header
        h2 Stagiaires

      user-list(users="participants.stagiaires", frozen="session.archive")

  .col-1-2(ng-if="session.dispositif === 'employeur' && hasUsers")
    .module-card
      .module-header
        h2 Formateurs

      user-list(users="participants.formateurs", frozen="session.archive")

  .col-1(ng-if="initialized")
    .module-card
      .module-header
        h2 Financement de la formation {{session.dispositif}}
      cost(cout="session.cout", ng-if="session.dispositif === 'employeur' || session.dispositif === 'CPF'")
      cost-CIF(cout="session.cout",
               settings="coutSettings",
               ng-if="session.dispositif === 'CIF'")
      .cost-actions
        button.btn(type="button", ng-click="cancelCost()", ng-disabled="!costChanged") Annuler
        button.btn(type="button", ng-click="saveCost()", ng-disabled="!costChanged") Valider

  .col-1
    .module-card
      .module-header
          h2 Temps de formation
      p Salariés  Statut  Temps de présence Entrée en production
      p Michel  Stagiaire 7h  checkbox
