include ../mixins/main

.grid.pad

  .col-1
    .module-card

      .details

        .module-header(affix, affix-offset=48)
          .affix-target
            p.details-id
              | \#{{session.session}} -&nbsp;
              a(ng-href="#/utilisateurs/{{session.auteurId}}") {{session.auteurNom}}
              | &nbsp; -&nbsp;Action #
              a(ng-href="#/formations/{{session.action}}") {{session.action}}
              | &nbsp; - {{session.dispositif}}
            h2 {{session.intitule}}
            a(ng-href="#/sessions/{{session.id}}/modifier"
              ng-if="!session.archive").module-header-action.btnIcon.circle.big.modify
            button(ng-if="session.archive",
              ng-click="unarchive()").module-header-action.btnIcon.circle.big.desarchiver

        h4.details-title Informations
        ul.details-list.grid.pad
          +details-item("Entité") {{session.entite}}

          +details-item("Référence") {{session.reference}}

          +details-item("Date de création") {{session.dateCreation}}

          // Employeur
          - var opt = { ngIf: "session.client" }
          +details-item("Client", opt) {{session.client}}

          // Employeur
          - opt = { ngIf: "session.activite" }
          +details-item("Activité", opt) {{session.activite}}

          // Employeur
          - opt = { ngIf: "session.produit" }
          +details-item("Produit", opt) {{session.produit}}

          +details-item("Nature") {{session.nature}}

          +details-item("Format") {{session.format}}

          - opt = { ngIf: "!session.organisme" }
          +details-item("Organisme", opt) Interne

          - opt = { ngIf: "session.organisme && session.nomOrganisme" }
          +details-item("Organisme", opt) {{session.nomOrganisme}}

          +details-item("Devis") {{session.devis}}€

        h4.details-title Modalités de l'action de formation
        ul.details-list.grid.pad

          // CPF + CIF
          - opt = { ngIf: "session.validation" }
          +details-item("Formation", opt) {{session.validation}}

          // CPF + CIF
          - opt = { ngIf: "session.validationComment" }
          +details-item("Préciser", opt) {{session.validationComment}}

          +details-item("Horaire souhaité") {{session.horaireSouhaite}}

          - opt = { ngIf: "session.temps" }
          // CPF + CIF
          +details-item("Temps", opt) {{session.temps}}

          - opt = { ngIf: "session.dateDemande" }
          // CPF + CIF
          +details-item("Date demande", opt) {{session.dateDemande}}

          // CPF + CIF
          - opt = { ngIf: "session.dateButoir" }
          +details-item("Date butoir", opt) {{session.dateButoir}}

          +details-item("Date de début") {{session.dateDebut}}

          +details-item("Date de fin") {{session.dateFin}}

          +details-item("Duree") {{session.duree}}h


        div(ng-if="session.dispositif === 'CIF' || session.dispositif ==='CPF'")
          h4.details-title Acceptation de l'action de formation
          .grid.pad
            - optKlass = { klass: 'col-1' }
            div(ng-class="session.dispositif === 'CIF' ? 'col-1-2' : 'col-1'")
              ul.details-list.grid.pad
                // CPF + CIF
                +details-item("Avis employeur", optKlass) {{session.avisEmployeur}}

                // CPF + CIF
                +details-item("Date avis employeur", optKlass) {{session.dateAvisEmployeur}}

                // CPF + CIF
                - opt = { ngIf: "session.avisEmployeur === 'acceptee'" }
                - opt.klass = 'col-1'
                +details-item("Motif employeur", opt) {{session.motifEmployeur}}

            .col-1-2(ng-if="session.dispositif === 'CIF'")
              ul.details-list.grid.pad
                // CIF
                +details-item("Avis Fongecif", optKlass) {{session.avisFongecif}}

                // CIF
                +details-item("Date avis Fongecif", optKlass) {{session.dateAvisFongecif}}

                // CIF
                - opt = { ngIf: "session.avisFongecif === 'acceptee'" }
                - opt.klass = 'col-1'
                +details-item("Motif Fongecif", opt) {{session.motifFongecif}}


        div(ng-if="session.dispositif === 'CIF'")
          h4.details-title Modalités de prise en charge par le Fongecif
          ul.details-list.grid.pad

            // CIF
            +details-item("Salaire") {{session.priseChargeSalaire}}€

            // CIF
            +details-item("Repriste de poste") {{session.reprisePoste}}

            // CIF
            +details-item("Duree") {{session.dureePriseEnCharge}}h

  div(ng-if="hasUsers", ng-class="session.dispositif !== 'employeur' ? 'col-1' : 'col-1-2'")
    .module-card
      .module-header
        h2 Stagiaires

      user-list(users="participants.stagiaires", frozen="session.archive")

  .col-1-2(ng-if="session.dispositif === 'employeur' && hasUsers")
    .module-card
      .module-header
        h2 Formateurs

      user-list(users="participants.formateurs", frozen="session.archive")

  .col-1(ng-if="initialized")
    .module-card
      .module-header
        h2 Financement de la formation {{session.dispositif}}
      cost(cout="session.cout", ng-if="session.dispositif === 'employeur' || session.dispositif === 'CPF'")
      cost-CIF(cout="session.cout",
               settings="coutSettings",
               ng-if="session.dispositif === 'CIF'")
      .cost-actions
        button.btn(type="button", ng-click="cancelCost()", ng-disabled="!costChanged") Annuler
        button.btn(type="button", ng-click="saveCost()", ng-disabled="!costChanged") Valider

  .col-1
    .module-card
      .module-header
          h2 Temps de formation
      p Salariés  Statut  Temps de présence Entrée en production
      p Michel  Stagiaire 7h  checkbox
