.table-head.affix-target
  .table-cell(ng-repeat="col in config.cols", class="{{col.klass}}")
    button(ng-if="col.sort",
      ng-click="sort(col.key)",
      ng-class="{active: sortBy === col.key}")
      | {{col.label}}
    span(ng-if="!col.sort") {{col.label}}

ul.table-group

  li.table-row(ng-repeat="data in datas",
    ng-class="{archive: data.archive}")

    .table-cell(ng-repeat="col in config.cols",
      class="{{col.klass}}",
      ng-class="{'actions inline': col.actions, 'link': col.label && col.link}")

      span(ng-if="col.label && !col.link") {{data[col.key]}}
      button(ng-if="col.label && col.link",
        ng-click="goTo(col.link, data)") {{data[col.key]}}

      button.btnIcon(ng-repeat="action in col.actions",
        type="button",
        class="{{action.id}}",
        title="{{action.title}}",
        ng-if="shouldShowAction(data, action)",
        ng-click="callAction(action.id, data)")
