include ../mixins/main

.userList-container(ng-show="ready", ng-class="{frozen: frozen}")
  .searchBox(ng-show="!frozen")
    +form-underlined()
      input.userList-input(type="search",
        ng-model="search",
        ng-blur="onBlur()",
        ng-focus="onFocus()",
        ng-change="onChange()",
        placeholder="Rechercher",
        required)
    button(type="button").btnIcon.search
  ul.userList-searchList(ng-show="showSearchList && !frozen")
    li(ng-repeat="user in users")
      button(type="button",
        ng-click="selectUser(user.id)",
        ng-blur="onBlur()",
        ng-focus="onFocus()")
        span.userList-searchList-name {{user.prenom}} {{user.nom}}
        span.userList-searchList-departure {{user.sortie}}
        span.userList-searchList-job {{user.poste}}

  p.userList-placeholder(ng-show="!displayedUsers.length && !frozen") Pour ajouter une personne, veuillez la rechercher ci-dessus.
  p.userList-legend(ng-show="displayedUsers.length") {{displayedUsers.length}} personne(s) sélectionnée(s).

  ul.userList-users(ng-show="displayedUsers.length")
    li.userList-user(ng-repeat="user in displayedUsers")
      a.userList-info(ng-href="#/utilisateurs/{{user.id}}")
        | {{user.prenom}} {{user.nom}}
      button.userList-remove(type="button",
        ng-show="!frozen",
        ng-click="removeUser(user.id)")


