header.header
  .header-inner
    h1.header-title
      a(href='/')
        | b2s
        span Campus
    .header-content

      button.btnIcon.big.back(type="button",
        ng-if="App.showBack",
        ng-click="App.back()")

      .header-menu(ng-controller="headerMenuController")

        button.header-menu-button.btnIcon.big.menu(type="button",
          ng-click="toggle()",
          ng-focus="onFocus()",
          ng-blur="onBlur()")

        ul.header-menu-box(ng-class="{show: isOpen}")
          li.header-menu-item
            a.menuLink.header-menu-link.account(ng-click="App.goTo('mon-compte')",
              ng-focus="onFocus()",
              ng-blur="onBlur()") Mon compte
          li.header-menu-item
            a.menuLink.header-menu-link.logout(ng-click="App.logout()",
              ng-focus="onFocus()",
              ng-blur="onBlur()") Déconnexion

